@font-face {
    font-family: "personaliChristmasCmoeback";
    src: url("Fonts/CHRISTMAS-COMEBACK.otf") format("truetype");
}

body {
    font-family: "personaliChristmasCmoeback", sans-serif;
    text-align: center;
    background-image:url("Imagenes/background-texture-old-for-web-design-screensavers-free-photo.jpg") ;
}

.configuracion {
    background-color: whitesmoke;
    margin: auto;
    width: 300px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.juego {
    margin-top: 20px;
}
.tablero-caja{
    position: relative;
    display: inline-block;
}

table {
    margin: 30px auto;
    border: 10px;
    border-collapse: collapse;
    width: 300px;
    height: 300px;
    background-image: url("Imagenes/1000_F_517152553_b9QMlq66o60gDLcShvQp6PQr6KiLXRkB.jpg");

}

.decorativo{
    margin: 500px;
    margin-top: -348px;
    background-image: url("Imagenes/pngtree-smooth-textured-abstract-background-featuring-gradient-geometric-shapes-in-shades-of-image_13889443.png");
    border: 5px solid black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    width: 284px;
    height: 288px;
}
td {
    width: 33%;
    height: 33%;
    border: 2px solid black;
    border-radius: 5%;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
td:hover
{
    background-color: white;
    transform: scale(1.1);
}

.oculto {
    display: none;
}
canvas.linea-victoria{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
#reiniciarTablero {
    padding: 20px 30px;
    font-size: 16px;
    cursor: pointer;
    background-color: #32CD32;
    border-radius: 5%;
    position: relative;
    top: -450px;
}

#reiniciarTablero:hover {
    background-color: #228B22;
}
