body {
    background-image: url("imagenes/5559852.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    display: block;
    position: relative;
}

.container {
    margin-top: 30px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerTrabajo {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: white;
    text-align: center;
    transition: all 0.3s ease-in-out;
    height: 170px;
    width: 170px;
    position: relative;
    top: 100px;
    left: 100px;
    padding: 5px;
}

.containerTrabajo img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.containerTrabajo:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
}

.botonHome {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: rgba(14, 2, 130, 0.66);
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.83);
    z-index: 1000;
}

.botonHome img {
    width: 100%;
    height: 100%;
}

.botonHome:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.botonHome:active {
    transform: scale(0.95);
}
